body {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    flex-direction: column;
    height:600px;
    width: 320px;
    border: 2px solid black;
    display: flex;
}

.display {
    flex: 1;
    height: 100px;
    background-color: lightgray;
    margin: 2px;
    padding: 10px;
    font-size: 25px;
    text-align: end;
}

.numberButtons, .operators {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    justify-content: center;
}

button {
    height: 50px;
    width: 50px;
    font-size: 25px;
    font-weight: bold;
}

#displayAnswer {
    background-color: aqua;
}

#displayCalc {
    background-color:blanchedalmond;
}


