body {
    display: flex;
    margin: 0;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
}

.container {
    display: flex;    
    flex-direction: column;
    border: 2px solid black;
    background-color: rgba(211, 211, 211, 0.3);
    width: 300px;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
    gap:20px;
    text-align: end;
    font-family: 'Roboto', sans-serif;
}

#displayAnswer {
    min-height: 50px;
    font-size: 35px;
    font-weight: 600;
    word-wrap: break-word;
}

#displayCalc {
    color:rgb(83, 77, 77);
    font-weight: 00;
    min-height: 30px;
    font-size: 20px;
    word-wrap: break-word;
}

button {
    margin: 1px;
    height: 50px;
    width: 72px;
    font-size: 20px;
    border: none;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.buttons {
    margin: 1px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.numberButtons {
    font-weight: 600;
}

#equal {
    background-color: lightblue;
    font-size: 25px;
}

.operators, #clear {
    background-color: rgba(211, 211, 211, 0.3);
    font-size: 25px;
}